.body {
  border-top: 2px solid #e8e8e8;
  border-collapse: separate;
  border-spacing: 4px;
  .skeleton {
    > td {
      padding: 8px 0;
    }
  }
  .empty {
    text-align: center;
    > td {
      padding: 15px 0;
    }
  }
}
