.cell {
  text-align: left;
  padding: 16px 22px;
  border: 1px solid hsl(206, 12%, 95%);
  .long {
    &_link {
      max-width: 400px;
      > a {
        height: 18px;
        display: block;
        overflow: hidden;
        color: rgb(41, 121, 255);
      }
    }
  }
  .short {
    &_link {
      display: flex;
      max-width: 400px;
      > a {
        height: 18px;
        display: block;
        overflow: hidden;
        color: rgb(41, 121, 255);
      }
      &_clipboard {
        margin-left: 10px;
      }
    }
  }
}
